name: CI

# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  linux:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - '3.11'
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: pip install uv==0.9.26
      - run: |
          python --version
      - run: |
          which python
      - run: |
          python -m site --user-site
      - run: |
          python -m pip install --upgrade wheel setuptools
      - run: |
          python -m pip install "[test, optional, doc]"
      - run: |
          python -m pytest --doctest-glob "moviepy/**/**.py" --cov moviepy --cov-report term-missing
          pip install -e .
          pip install -e .[optional]
          pip install -e .[test]
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    env:
      COV_CORE_SOURCE: moviepy