name: CI Workflow

# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install decorator>=4.0.2
          python -m pip install imageio>=2.5
          python -m pip install imageio_ffmpeg>=0.2.0
          python -m pip install numpy>=1.25.0
          python -m pip install proglog<=1.0.0
          python -m pip install python-dotenv>=0.10
          python -m pip install pillow>=9.2.0
          python -m pip install opencv-python-headless>=4.0.0
          python -m pip install coveralls>=3.0
          python -m pip install pytest-cov>=2.5.1
          python -m pip install pytest>=3.0.0
          python -m pip install numpydoc<2.0
          # python -m pip install Sphinx==6.*
          python -m pip install pydata-sphinx-theme==0.13
          python -m pip install sphinx_design
          python -m pip install black>=23.7.0
          python -m pip install flake8>=6.0.0
          python -m pip install flake8-absolute-import>=1.0
          python -m pip install flake8-docstrings>=1.7.0
          python -m pip install flake8-rst-docstrings>=0.3
          python -m pip install flake8-implicit-str-concat==0.4.0
          python -m pip install isort>=5.12
          python -m pip install pre-commit>=3.3

      - name: Run script commands
        run: |
          python --version
          which python
          python -m site --user-site
          python -m pip install --upgrade wheel setuptools
          python -m pip install ".[test, optional, doc]"
          python -m pytest --doctest-glob "moviepy/**/**.py" --cov moviepy --cov-report term-missing
          pip install -e .
          pip install -e .[optional]
          pip install -e .[test]
          pip install -e .[doc]
